<!DOCTYPE html>
<html>
<!-- Add your HTML Here  -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="index.css"> 

</head>

<body  style="background-color:black">

    <nav class="w3-container w3-border w3-brown">
        <% if is_logged? %>
        <a class="w3-text-white w3-large" href='/logout'>Desloguearse</a><br>
        <% else %>
        <a class="w3-text-white w3-large" href='/login'>Loguearse con twitter</a><br>
        <% end %>
    </nav>

    <h1 class="w3-center w3-jumbo  w3-text-red "> ...Bienvenido... </h1>

    <div class="w3-container">
        <p class="w3-xlarge w3-text-green">Disfruta de las mas <b>tenebrosas</b> historias de terror para no poder dormir.</p>


    </div>

    <div class="w3-panel w3-text-red">
        <h2 class="w3-margin-left">Al azar</h2>

        <div class="w3-row-padding">
            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>

            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>

            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>


    <div class="w3-panel w3-text-red">

        <h2 class="w3-margin-left">Mas terrorificas</h2>

        <div class="w3-row-padding">
            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>

            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>

            <div class="w3-col s6 m4 l3">
                <div class="w3-card-4 w3-border w3-border-teal">
                    <img src="skulls.jpg" style="width:100%" alt="Titulo">
                    <div class="w3-container w3-center w3-white">
                        <p>Veronica</p>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>

</body>
</html>